.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 70px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container h1{
  font-size: 1.5rem;
  color: white;

}

.wrapper .main_container .scoreitem{
  background: #eef0ff;
  height: 70vh;
  padding: 15px;
   
}

/* Default sidebar width */
.wrapper .sidebar {
  width: 180px;
  transition: all 0s ease;
}

/* Collapsed state */
.wrapper.collapsed .sidebar {
  width: 90px;
}

.wrapper.collapsed .sidebar .title {
  display: none;
}

.wrapper.collapsed .sidebar .icon {
  text-align: center;
  width: 50%;
}

/* Optional: adjust main container when collapsed */
.wrapper.collapsed .main_container {
  margin-left: 100px;
}

.main_container {
  margin-left: 250px;
  transition: all 1s ease;
}

/*fas fa-user*/
.btn-close.white-close {
  filter: brightness(0) invert(1); /* Makes the icon white */
}

.profile-info-floating {
  position: absolute;
  height: 350px;
  width: 350px;
  top: 80px; /* Adjust as needed */
  right: 30px; /* Adjust as needed */
  border-radius: 5px;
  display: none;
   
}

.profile-info-float{
  height: 550px;
}
